@import 'mixins';

.kehittamo-sliders {
  .kehittamo-sliders-flexslider{
    padding: 1rem;
    li{
      overflow: hidden;
      section{
        padding: 1rem 0 0;
      }
      p{
        margin: 1rem 0;
      }
    }
    img {
      height: auto;
      max-width: 100%;
      min-height: inherit !important;
      min-width: inherit;
    }
  }
}