
/*
.main-text {
  position: absolute;
  top: 50px;
  width: 100%;
  color: #FFF;
  z-index:10000;
}
*/
.flexslider_bg{
  padding: 20px 15px 35px 15px;
}

.kehittamo-sliders-category {
  .slides_title {
    font-weight: bold;
  }
  
  .flexslider {
    border:none;
    box-shadow:none;

    .btn {
      display: inline-block;
      padding: 6px 12px;
      margin-bottom: 0;
      font-size: 16px;
      font-weight: normal;
      line-height: 1.428571429;
      text-align: center;
      vertical-align: middle;
      cursor: pointer;
      border: 1px solid #fff;
      border-radius: 1px;
      white-space: nowrap;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      -o-user-select: none;
      user-select: none;
      transition: all 0.3s;
    }

  /*
    img{
      min-height:500px!important;
      min-width:800px;
    }
  */
    .btn-sm, .btn-xs {
      padding: 5px 10px;
      font-size: 14px;
      line-height: 1.5;
      border-radius: 3px;
    }

    .btn-min-block {
      min-width: 170px;
      line-height: 26px;
      margin-top: 15px !important;
    }

    .btn-clear {
      background-color: rgba(0, 0, 0, 0);
      border-color: #FFF;
      margin-right: 15px;
    }
  }
}
