.kehittamo-sliders .kehittamo-sliders-flexslider {
  padding: 1rem; }
  .kehittamo-sliders .kehittamo-sliders-flexslider li {
    overflow: hidden; }
    .kehittamo-sliders .kehittamo-sliders-flexslider li section {
      padding: 1rem 0 0; }
    .kehittamo-sliders .kehittamo-sliders-flexslider li p {
      margin: 1rem 0; }
  .kehittamo-sliders .kehittamo-sliders-flexslider img {
    height: auto;
    max-width: 100%;
    min-height: inherit !important;
    min-width: inherit; }
