.image-preview {max-width:100%;height:auto;width:auto;margin:1em 0}.button-hidden{display:none!important}

.tabs {
  width:100%;
  display:inline-block;
}
.tab-links {
  border-bottom: 1px solid #DDD;
  margin-bottom: -1px;
}
/*----- Tab Links -----*/
/* Clearfix */

.tab-links:after {
  display:block;
  clear:both;
  content:'';
}
.tab-links li {
  margin:0px 2px;
  float:left;
  list-style:none;
}
.tab-links a {
  padding:2px 5px;
  display:inline-block;
  border-radius:1px 1px 0px 0px;
  background:#DDD;
  font-size:11px;
  font-weight:600;
  color:#4c4c4c;
  transition:all linear 0.15s;
}
.tab-links a:hover {
  background:#DEDEDE;
  text-decoration:none;
}
li.active a, li.active a:hover {
  background:#fff;
  color:#4c4c4c;
}
/*----- Content of Tabs -----*/

.tab-content {
  padding:15px;
  margin-bottom:15px;
  border-radius:3px;
  border: 1px solid #DDD;
  background-color: #EEE;
}
.tab {
  display:none;
}
.tab.active {
  display:block;
}
