
.flex-control-nav {
	 bottom: -30px;
}

.flex-control-nav {
	margin-bottom: 0 ;
}

.flex-control-nav.flex-control-paging {
	line-height: 14px;
}

.flex-viewport  li:not(.flex-active-slide) picture {
	height: 0 !important;
}
